html, body {
  height: 100%; }

.no-display {
  display: none; }

p {
  font-size: 15px; }

#program {
  background: #abf169 url("./images/program.jpg") no-repeat center fixed; }

.jumbotron {
  margin-bottom: 0; }

#myNavbar li a {
  color: #e8e8e8;
  transition: text-shadow 0.5s ease-out, color 0.3s ease-out; }
  #myNavbar li a:hover {
    color: white;
    text-shadow: 0px 0px 5px white; }
#myNavbar li:first-child a {
  color: #1a1a1a; }
  #myNavbar li:first-child a:hover {
    color: black;
    text-shadow: 0px 0px 2px grey; }
#myNavbar li:nth-child(2) {
  background-color: #f6a96e; }
  #myNavbar li:nth-child(2).active > a {
    color: white;
    background-color: #f38d3e; }
#myNavbar li:nth-child(3) {
  background-color: #ff8484; }
  #myNavbar li:nth-child(3).active > a {
    color: white;
    background-color: #ff5151; }
#myNavbar li:nth-child(4) {
  background-color: #7aafe4; }
  #myNavbar li:nth-child(4).active > a {
    color: white;
    background-color: #5096db; }
#myNavbar li:nth-child(5) {
  background-color: #baf286; }
  #myNavbar li:nth-child(5).active > a {
    color: white;
    background-color: #a0ed58; }

.navbar-eye {
  border-radius: 30%; }
  .navbar-eye:hover {
    color: black; }

#main-page article {
  padding: 40px 20px;
  border-top: 5px solid #e5e5e5;
  border-bottom: 5px solid #e5e5e5; }
  #main-page article:first-child {
    background-color: #f6a96e;
    border-color: #f49851; }
  #main-page article:nth-child(2) {
    background-color: #ff8484;
    border-color: #ff6565; }
  #main-page article:nth-child(3) {
    background-color: #7aafe4;
    border-color: #61a0df; }
  #main-page article:nth-child(4) {
    background-color: #baf286;
    border-color: #aaef6a; }

.btn {
  transition: background-color 0.2s linear; }

.image-logo {
  padding: 10px 0; }

.form-control:focus {
  border-color: #c7ddef;
  box-shadow: inset 0 1px 1px #c7ddef, 0 0 8px #c7ddef; }

.margin-bottom {
  margin-bottom: 10px; }

.large-margin-bottom {
  margin-bottom: 20px; }

/*------------------------Cooking-------------------------------*/
#cooking-sidebar {
  background-color: #f6a96e; }
  #cooking-sidebar ul > li {
    padding: 5px 0px; }
    #cooking-sidebar ul > li a {
      color: #0d80d7; }
      #cooking-sidebar ul > li a:hover {
        color: #6ebbf6; }

/*--------------------------------------------------------------*/
.tiny-margin-bottom {
  margin-bottom: 2px; }

.margin-right {
  margin-right: 10px; }

.inline-block img {
  display: inline-block;
  margin: 0 4px; }

.list-group-item {
  box-shadow: 0 2px 3px darkgrey; }

.grid-view-container, .title-view-container {
  margin-bottom: 20px; }

.img-container-grid {
  background-color: #e5e5e5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .img-container-grid .img-size-grid {
    max-height: 210px;
    max-width: 170px; }

/*dont touch below, nesting is a bad idea for dinamic classes*/
.title-view-content {
  border-bottom: 2px solid #555; }

.img-size-title {
  height: 60px;
  transition: height 1.2s ease-in-out; }
  .img-size-title:hover {
    height: 270px; }

.glyphicon-chevron-down:hover, .glyphicon-chevron-up:hover {
  color: black;
  cursor: pointer; }

.break-words {
  word-wrap: break-word; }

.list-group-item {
  min-height: 275px; }

.removeable-item {
  border: 1px solid #c9302c;
  box-shadow: 1px 1px 6px 1px #d9534f; }

/*Aqui tengo un borrador de lo que podria ser un icono de cerrado, todavia me falta arreglar el posicionamiento y su adaptabilidad*/
.close-icon-title {
  color: #c9302c;
  float: right; }

.close-icon-grid {
  color: #c9302c;
  position: absolute;
  right: 0px;
  top: -15px;
  font-size: 30px; }

.close-icon-title, .close-icon-grid:hover {
  cursor: pointer; }

#app {
  min-height: 100%;
  position: relative;
  padding-bottom: 40px; }

footer {
  font-family: monospace;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: lightgrey;
  min-height: 40px;
  padding: 10px 0; }
  footer h3 {
    margin: 0; }

/*# sourceMappingURL=myStyle.css.map */
