$cooking: #f6a96e;
$cooking_active: darken($cooking, 10%);
$anime: #ff8484;
$anime_active: darken($anime, 10%);
$videogames: #7aafe4;
$videogames_active: darken($videogames, 10%);
$programming: #baf286;
$programming_active: darken($programming, 10%);

html,body{height: 100%;}
.no-display{display: none;}
p{font-size: 15px;}
#program{background: #abf169 url("./images/program.jpg") no-repeat center fixed;}
.jumbotron{margin-bottom: 0;}
#myNavbar {
    li {
        a {
            color: darken(white, 9%);
            transition: text-shadow 0.5s ease-out, color 0.3s ease-out;
            &:hover {color: white; text-shadow: 0px 0px 5px white}
        }
        &:first-child a{
            color: lighten(black, 10%);
            &:hover {color: black; text-shadow: 0px 0px 2px grey;}
        }
        &:nth-child(2) {
            background-color: $cooking;
            &.active > a {
                color: white;
                background-color: $cooking_active;
            }
        }
        &:nth-child(3) {
            background-color: $anime;
            &.active > a {
                color: white;
                background-color: $anime_active;
            }            
        }
        &:nth-child(4) {
            background-color: $videogames;
            &.active > a {
                color: white;
                background-color: $videogames_active;
            }
        }
        &:nth-child(5) {
            background-color: $programming;
            &.active > a {
                color: white;
                background-color: $programming_active;
            }
        }
    }
}
.navbar-eye {
    border-radius: 30%;
    &:hover {
        color: black;
    }
}
#main-page {
    article {
        padding: 40px 20px; 
        border-top: 5px solid #e5e5e5; 
        border-bottom: 5px solid #e5e5e5;
        &:first-child {
            background-color: $cooking;
            border-color: lighten($cooking_active, 4%);
        }
        &:nth-child(2) {
            background-color: $anime;
            border-color: lighten($anime_active, 4%);
        }
        &:nth-child(3) {
            background-color: $videogames;
            border-color: lighten($videogames_active, 4%);
        }
        &:nth-child(4) {
            background-color: $programming;
            border-color: lighten($programming_active, 4%);
        }
        
    }    
}
.btn{transition: background-color 0.2s linear;}
.image-logo{padding: 10px 0;}
.form-control:focus {border-color: #c7ddef; box-shadow: inset 0 1px 1px #c7ddef, 0 0 8px #c7ddef;}
.margin-bottom{margin-bottom: 10px;}
/*------------------------Cooking-------------------------------*/
#cooking-sidebar{
    background-color: $cooking;
    ul > li{
        padding: 5px 0px;
        a{
           color: darken(complement($cooking), 25%);
           &:hover{color: complement($cooking);} 
        }
    }
}
/*--------------------------------------------------------------*/
.tiny-margin-bottom{margin-bottom: 2px;}
.margin-right{margin-right: 10px;}
.inline-block img{display: inline-block; margin: 0 4px;}
.grid-view-container,.title-view-container{margin-bottom: 20px;}
.img-container-grid {
    background-color: #e5e5e5; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    .img-size-grid {
        max-height: 210px; 
        max-width: 170px;
    }
}
/*dont touch below, nesting is a bad idea for dinamic classes*/
.title-view-content{border-bottom: 2px solid #555;}
.img-size-title{
    height: 60px;
    transition: height 1.2s ease-in-out;
    &:hover{
        height: 270px;
    }
}
.glyphicon-chevron-down:hover,.glyphicon-chevron-up:hover{color: black; cursor: pointer;}
.break-words{word-wrap: break-word;}
.list-group-item{min-height: 275px;}
.removeable-item{border: 1px solid #c9302c; box-shadow: 1px 1px 6px 1px #d9534f}

/*Aqui tengo un borrador de lo que podria ser un icono de cerrado, todavia me falta arreglar el posicionamiento y su adaptabilidad*/
.close-icon-title{color: #c9302c; float: right;}
.close-icon-grid{color: #c9302c; position: absolute; left: 325px; top: -8px;}
.close-icon-title,.close-icon-grid:hover{cursor: pointer;}
#app{
    min-height: 100%;
    position: relative;
    padding-bottom: 40px;
}
footer {
    font-family: monospace;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: lightgrey; 
    min-height: 40px; 
    padding: 10px 0;
    h3 {
        margin: 0;
    }
}