@charset "utf-8"
/*! bulma.io v0.6.2 | MIT License | github.com/jgthms/bulma */
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/layout/_all"

$cooking: #f6a96e
$cooking_active: darken($cooking, 10%)
$videogames: #7aafe4
$videogames_active: darken($videogames, 10%)
$programming: #baf286
$programming_active: darken($programming, 10%)

html, body 
	height: 100%

body
	font-family: Raleway,sans-serif

#app
	min-height: 100%

.hero
	font-family: 'Bangers', cursive

#myNavbar .navbar-start a
	color: #e8e8e8
	transition: text-shadow 0.5s ease-out, color 0.3s ease-out
	&:hover
		color: white
		text-shadow: 0px 0px 5px white
		text-decoration: none
	&:hover > span
		transform: scale(1.2, 1.2)
	span
		transition: transform 0.16s cubic-bezier(0, 0, 0.2, 1)
	&:first-child
		color: #1a1a1a
		&:hover
			color: black 
			text-shadow: 0px 0px 2px grey
	&:nth-child(2)
		background-color: $cooking
		&.is-active
			color: white
			background-color: $cooking_active
	&:nth-child(3)
		background-color: $videogames
		&.is-active
			color: white
			background-color: $videogames_active
	&:nth-child(4)
		background-color: $programming
		&.is-active
			color: white
			background-color: $programming_active

/*------------------------Home----------------------------------*/

#main-page article
	padding: 40px
	border-top: 5px solid #e5e5e5
	border-bottom: 5px solid #e5e5e5
	img
		border-radius: 8%
	&:first-child
		background-color: $cooking
		border-color: lighten($cooking_active, 4%)
	&:nth-child(2)
		background-color: $videogames
		border-color: lighten($videogames_active, 4%)
	&:nth-child(3)
		background-color: $programming
		border-color: lighten($programming_active, 4%)

.image-logo
	padding: 10px 0

/*--------------------------------------------------------------*/
/*------------------------Cooking-------------------------------*/
#cooking-sidebar
	background-color: $cooking
	height: 100%
	padding: 10px 0px
	border-left: 10px solid #d46313
	border-right: 10px solid #d46313
	border-bottom: 10px solid #d46313
	ul > li
		background-color: #f8954f
		border-bottom: 5px double #d46313
		padding: 5px 5px
		&:first-child
			border-top: 5px double #d46313
		a
			color: darken(complement($cooking), 25%)
			&:hover
				color: complement($cooking)
				text-decoration: none
			&:hover > span
				transform: rotate(360deg)
			span
				transition: transform 0.4s cubic-bezier(0.93, 0.13, 0, 0.97)

	form
		padding: 5px

.recipe-list-background
	padding-bottom: 20px
	background-color: white
	background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.5) 50%, transparent 50%), linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 50%)
	background-size: 50px 50px

.recipe-wrapper
	padding: 10px 49px
	h1
		font-family: "Whitney Cond A", "Whitney Cond B","Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif
		font-size: 2.5rem
		font-weight: 700
		background-color: #EC8D1F
		padding: 15px
		border-radius: 40px 40px 0px 0px
		a
			color: inherit
			&:hover
				color: complement($cooking)
				text-decoration: none
	hr
		margin-top: 0
		margin-bottom: 5px

.recipe-image
	height: 160px
	background-size: cover
	opacity: 0.8
	margin-bottom: 4px

.recipe-body
	background-color: #ffffff
	padding: 10px 20px
	margin-bottom: 4px

.recipe-footer
	height: 40px
	background-color: #EC8D1F
	border-radius: 0px 0px 15px 15px

/*--------------------------------------------------------------*/
/*----------------VideoGames and Anime--------------------------*/
.video-game-bg
	background: url("/images/nice_snow.png") repeat

.inline-block img
	display: inline-block
	margin: 0 4px

.list-group-item 
	box-shadow: 0 2px 3px darkgrey

.grid-view-container, .title-view-container
	margin-bottom: 20px

.box > .image
	height: 200px
	width: 170px
	margin-right: 10px
	img
		border-bottom-left-radius: 10px
		border-bottom-right-radius: 10px

.title-view-content 
	border-bottom: 2px solid #555
	h3
		margin-bottom: 0px

.img-size-title 
	width: 120px
	transition: width 1.2s cubic-bezier(0.55, -0.35, 0.48, 1.41)
	&:hover
		width: 270px

.slider
	display: none

#slideView
	display: none

/*--------------------------------------------------------------*/
/*-------------------Programming--------------------------------*/
.programming-bg
	background: url("/images/stardust.png") repeat

#program
	color: #E5EEEC
	h2, h3, h4, h5, h6
		color: #E5EEEC
	hr
		color: darken(#E5EEEC, 30%)//maybe find the invert or just get a lighter color of the bg 
		margin-top: 0px
	// .content figure
	// 	text-align: left

#programming-sidebar
	header
		padding: 10px 20px
		background-color: #b6b6b6
		border-bottom: 5px double darkgrey
		border-top: 5px double darkgrey
		h1
			color: #262626
	main
		background: #2b3135
		/* Old browsers */
		background: -moz-linear-gradient(left, #2b3135 50%, #1d2023 50%, #202426 50%, #17191b 50%)
		/* FF3.6-15 */
		background: -webkit-linear-gradient(left, #2b3135 50%, #1d2023 50%, #202426 50%, #17191b 50%)
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #2b3135 50%, #1d2023 50%, #202426 50%, #17191b 50%)
		li 
			&:last-child
				padding-bottom: 5px
			a
				color: #E5EEEC
				&.is-active:hover
					color: $programming_active
				&:hover
					color: $text

/*--------------------------------------------------------------*/
/*---------------------------Misc-------------------------------*/
.fa-chevron-down:hover, .fa-chevron-up:hover
	color: black
	cursor: pointer

.break-words
	word-wrap: break-word

.box 
	min-height: 275px
	.box-heading
		font-size: 20px
		font-weight: 600
	.box-text
		font-size: 12px

.removeable-item-grid
	border: 1px solid #c9302c
	box-shadow: 1px 1px 6px 1px #d9534f

.removeable-item-title
	border-bottom: 2px solid #c9302c
	box-shadow: 0px 1px 2px #d9534f

.close-icon-title
	color: #c9302c
	float: right

.close-icon-grid
	color: #c9302c
	position: absolute
	right: 0px
	top: 0px
	font-size: 35px

.close-icon-title, .close-icon-grid:hover
	cursor: pointer

.no-display
	display: none

.input:focus
	border-color: #c7ddef
	box-shadow: inset 0 1px 1px #c7ddef, 0 0 8px #c7ddef

.margin-bottom
	margin-bottom: 10px

.large-margin-bottom
	margin-bottom: 20px

.tiny-margin-bottom
	margin-bottom: 2px

.margin-right
	margin-right: 10px

.button
	transition: background-color 0.2s linear

/*--------------------------------------------------------------*/